    {# Set up for breadcrumb nav #}
    {% set url = page.url %}
    {% set crumbs = url.split('/') %}
    {% set last = crumbs.pop() %}
    {% if title %}
      {% set last = crumbs.pop() %}
    {% endif %}

  {# Start breadcrumb nav #}
    {% if (crumbs | length) > 0 %}
      <nav class="breadcrumbs" aria-label="breadcrumbs" role="navigation">
        <a href="/">Home</a> 
        {% for crumb in crumbs %}
          {% if (crumb !== '') %}
            &frasl; <a href="{{ crumbs.slice(0, (crumbs.indexOf(crumb) + 1)).join("/") }}">{{ crumb | capitalize }}</a>
          {% endif %}
        {% endfor %}
          &frasl; {{ title }}
      </nav>
    {% endif %}