    {# Set up for breadcrumb nav #}
    {% set url = page.url %}
    {% set crumbs = url.split('/') %}
    {% set last = crumbs.pop() %}
    {% if title %}
      {% set last = crumbs.pop() %}
    {% endif %}

  {% set navPages = collections.all | eleventyNavigation %}
  <i class="fa-solid fa-home"></i><a href="/"> Home</a>
    {% macro renderBreadCrumbList(entry, sub) -%}
      {% set isHomepage = entry.url == '/' %}
      {% set isActive = page.url | startsWith(entry.url) %}
      {% if isActive and not isHomepage %}
        &nbsp;&frasl;&nbsp;<i class="fa-solid fa-{{ entry.icon}}"></i>&nbsp;<a href="{{ entry.url }}" >{{ entry.title | truncate(16) }}</a>
      {% endif %}
      {%- if entry.children.length -%}
        {%- for child in entry.children %}
          {{
            renderBreadCrumbList(child, sub + 1)
          }}
        {% endfor -%}

      {%- endif -%}
  {%- endmacro %}

  {%- for entry in navPages %}
    {{
      renderBreadCrumbList(entry)
    }}
  {%- endfor -%}