<!-- Categories -->
{% for category in categories %}
  {% if category not in ['pce', 'post', 'posts', 'tagList', 'categorylist', 'all', 'sortedposts'] %}
    <a class="btn btn-primary category-button text-light me-1" href="/category/{{category}}">
        <i class="fas fa-sitemap text-light"></i>
        {{category}}
    </a>
  {% endif %}
{% endfor %}

<!-- Tags -->
{% for tag in tags %}
  {% if tag not in ['pce', 'post', 'posts', 'sortedposts', 'taglist', 'categorylist', 'all'] %}
    <a class="badge bg-primary rounded-pill text-light me-1" href="/tags/{{tag}}">
        <i class="fas fa-tags text-light"></i>
        {{tag}}
    </a>
  {% endif %}
{% endfor %}
<script src="/js/tags.js"></script>