<nav class="navbar navbar-expand-lg navbar-light pt-0">
  <div class="container-fluid">
        <a class="navbar-brand mb-0
         py-2 px-2 pt-2 pe-3 text-center text-white bg-primary" href="{{ '/' | url }}"><svg class="me-1 small-logo-white"><image xlink:href="{{ "/assets/logo.svg" | url }}" width="96" height="96" /></svg><span class="logotitle">{{ metadata.logotitle }}</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex me-1">
          <i class="icon fa-solid fa-house pt-2"></i><a class="nav-link" aria-current="page" href="{{ '/' | url }}">Home</a>
        </li>

        <li class="nav-item d-flex me-1">
          <i class="icon fa-solid fa-book pt-2"></i><a class="nav-link" href="{{ '/pce' | url }}">PCE</a>
        </li>

        <li class="nav-item d-flex me-1">
          <i class="icon fa-solid fa-circle-info pt-2"></i><a class="nav-link" href="{{ '/about' | url }}">About</a>
        </li>

      </ul>
      <form class="d-flex">
        <input type="search" id="search-input" class="form-control" autocomplete="off" placeholder="Search">
      </form><div class="d-none" id="search-suggestions">&nbsp;</div>
    </div>
  </div>
</nav>
