<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body class="h-100">

    {% include 'snippets/navbar.njk' %}

    <main class="container-fluid">
      <div class="row d-flex align-items-start">
        <div class="row d-flex justify-content-center">
            <div class="aside order-md-1 order-2 col col-12 col-sm-3 flex-shrink-0 p-2 bg-white">
              {% include 'snippets/sidebar.njk' %}
            </div>
            <div id="main" class="main order-md-2 order-1 col col-12 col-sm-9">
              <div id="parentContainer">
                <div id="quiz">
                {% include 'snippets/maincontent.njk' %}
                </div>
                <p class="text-center mt-4">Score: <span id="score">0</span></p>
              </div>
            </div>
            {# <div id="result" class="text-center mt-4"></div>
            <button id="nextBtn" class="btn btn-primary mt-4">Next</button> #}
        </div>
      </div>
    </main>

    <footer class="container">
      {% include 'snippets/footer.njk' %}
    </footer>
  </body>

</html>
