<!doctype html>
<html class="h-100" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>
    {% include 'snippets/svg.njk' %}
    {% include 'snippets/navbar.njk' %}

    <main class="container min-vw-100 py-vh-1">
      <div class="row align-items-start">
        <div class="min-vw-100 row d-flex justify-content-center">
            <div class="overflow-auto col col-12 col-sm-3 flex-shrink-0 p-2 bg-white">
              {% include 'snippets/sidebar.njk' %}
            </div>
            <div class="overflow-auto col col-12 col-sm-9">
              {% include 'snippets/maincontent.njk' %}
            </div>
        </div>
      </div>
    </main>

    <footer class="container">
      {% include 'snippets/footer.njk' %}
    </footer>

  </body>

</html>
