---
layout: layouts/blog.njk
title: Project blog
icon: blog
breadcrumbs: false
pagination:
    data: collections.post
    size: 12
    reverse: true
    alias: posts
---

<p class="lead">A place for highlighting aspects of the project.</p>
