---
pagination:
  data: collections
  size: 1
  alias: category
  filter:
    - all
    - nav
    - post
    - posts
    - catList
  addAllPagesToCollections: true
layout: layouts/default.njk
eleventyComputed:
  title: Classed “{{ category }}”
permalink: /category/{{ category | slug }}/
---


{% block content %}
  {% set posts = collections[tag] %}
  {% include 'snippets/postloop.njk' %}
  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
{% endblock %}
