---
pagination:
  data: allCategories
  size: 1
  alias: category
  addAllPagesToCollections: true
layout: layouts/default.njk
eleventyComputed:
  title: Classed “{{ category }}”
permalink: "/category/{{ category | slug }}/"
---

{% block content %}
  {% set posts = collections.all | filter(post => 'categories' in post.data && post.data.categories.includes(category)) %}
  {% include 'snippets/postloop.njk' %}
  <p>See <a href="{{ '/category/' | url }}">all categories</a>.</p>
{% endblock %}


