---
pagination:
  data: collections.categoryList
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "/category/{{ category | lower }}/"
eleventyComputed:
  title: Category `{{ category }}`
  shorttitle: '{{ category }}'
layout: layouts/default.njk
---

<ul>
  {%- for page in collections.all %}
    {%- if page.data.categories %}
      {%- if page.data.categories.includes(category) %}
        <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
      {%- endif %}
    {%- endif %}
  {%- endfor %}
</ul>

{# {% block content %}
  {% set posts = collections.categoryList %}
  {% include 'snippets/postloop.njk' %}
  <p>See <a href="{{ '/category/' | url }}">all categories</a>.</p>
{% endblock %} #}