---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
title: Sitemap
index: false
---
{% if site.sitemap_enabled %}
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {% for page in collections.all %}
    {% if page.url %}
      <url>
        <loc>{{ site.url }}{{ page.url | url }}</loc>
        {% if page.date %}
        <lastmod>{{ page.date | htmlDateString }}</lastmod>
        {% else %}
        <lastmod>{{ now() | htmlDateString }}</lastmod>
        {% endif %}
        <changefreq>weekly</changefreq>
        <priority>0.5</priority>
      </url>
    {% endif %}
  {% endfor %}
</urlset>
{% endif %}
