---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  filter:
    - all
    - pce
    - nav
    - post
    - posts
    - docs
    - sortedPosts
    - categoryList
    - tagList
layout: layouts/default.njk
eleventyComputed:
  title: Tagged `{{ tag.tagName }}`
  shorttitle: '{{ tag.tagName }}'
permalink: /tags/{{ tag.tagName | slug }}-{{ tag.tagCount }}/
---

{% block content %}
  {% set posts = collections[tag.tagName] %}
  {% include 'snippets/postloop.njk' %}
  <p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
{% endblock %}
