<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap" />
    <style>
        .magazinestyle > p:first-child .first-letter {
            font-family: 'UnifrakturCook', cursive;
            color: white;
            background: black;
            border-radius: 2px;
            box-shadow: 3px 3px 0 red;
            font-size: 250%;
            padding: 6px 3px;
            margin-right: 6px;
            float: left;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="magazinestyle">
        <p><span class="first-letter">P</span>aragragh text goes here.</p>
    </div>

    <script>
        let degree = 0;

        function animateBg() {
            degree = (degree + 1) % 360;
            let color = `hsl(${degree}, 100%, 50%)`;
            let radialGradient = `radial-gradient(circle at center, ${color}, black)`;

            let firstLetter = document.querySelector('.magazinestyle > p:first-child .first-letter');
            firstLetter.style.backgroundImage = radialGradient;

            requestAnimationFrame(animateBg);
        }

        animateBg();
    </script>
</body>
</html>
